/* Pages */
.onas {
  background-image: url(../res/imgs/onas.jpg);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.onas::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 97%;
}

.sideyka {
  background-image: url(../res/imgs/sideyka_img_bg2.JPG);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caspers {
  background-image: url(../res/imgs/caspersbg.jpg);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caspers::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
}

.vitya {
  background-image: url(../res/imgs/vitya.webp);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vitya::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
}

.section-inner-center h3 {
  font-size: 45px;
  margin: auto auto;
  padding-bottom: 50px;
  animation: fadeInUp 0.5s ease-in-out;
  color: #fff;
  text-align: center;
}

.section-inner-center p {
  color: #fff;
}

.sideyka:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
}
