/* Pages */

.onas {
  background-image: url(../res/imgs/onas.jpg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

/* .onas::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 97%;
  z-index: -2;
} */

.sideyka {
  background-image: url(../res/imgs/sideyka_img_bg2.JPG);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

.caspers {
  background-image: url(../res/imgs/caspersbg.jpg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}
/* .caspers::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
  z-index: -2;
} */

.vitya {
  background-image: url(../res/imgs/vitya.webp);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

/* .vitya::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
  z-index: -2;
} */

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  max-width: 1200px;
  margin: 0 auto;
}

.section-inner-center h3,
.texth3 {
  font-size: 45px;
  padding-bottom: 2rem;
  animation: fadeInUp 0.5s ease-in-out;
  color: #fff;
  text-align: center;
}

.section-inner-center p {
  color: #fff;
}

.sideyka:before,
.caspers::before,
.vitya::before,
.onas::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
  z-index: -2;
}

/* About Us */
.flex {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#contacts-h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0px !important;
  padding-bottom: 1rem;
}

a:hover {
  color: #ffae00;
  transition: all 0.3s ease-in-out;
}

/* Sideyka Vitesbk */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-donation {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  letter-spacing: 2px;
  transition: 0.5s;
  animation: fadeInUp 0.7s ease-in-out 0.4s;
  animation-fill-mode: both;
}

.btn-donation:hover {
  background: #ffae00;
}

.btn-donation > a {
  color: #111;
  text-transform: uppercase;
}
