@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header/Navbar */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 6rem;
  padding: 0 2rem;
}

.logo > a {
  font-weight: bold;
  font-size: 1.5rem;
}
.logo > a:hover {
  color: #ffae00;
  transition: all 0.3s ease-in-out;
}

/* Desktop Menu */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffae00;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.5, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Section Text */
.text h2 {
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  animation: fadeInUp 0.7s ease-in-out;
}

.text p {
  color: #fff;

  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 100;
  max-width: 700px;
  line-height: 1.5;
  animation: fadeInUp 0.7s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.5s;
  animation: fadeInUp 0.7s ease-in-out 0.4s;
  animation-fill-mode: both;
}

.text a:hover {
  background: #ffae00;
}

/* Sections */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-inner {
  position: absolute;
  bottom: 30%;
  left: 10%;
  max-width: 80%;
}

/* BG Images */
.section-a {
  background-image: url(../res/imgs/sideyka_img_bg.JPG);
}

.section-a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  mix-blend-mode: normal;
  opacity: 70%;
}

/* .btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
} */

/* Hamburger */
.hamburger {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}
/* !!!!!!!!!!! */
.black {
  background: #111;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}
.hamburger-bottom {
  transform: translateY(10px);
}

/* Transition Hamburger to X when open */
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.mobile-main-menu > ul > li > a {
  color: #000;
  transition: all 0.2s ease-in-out;
}
.mobile-main-menu > ul > li > a:hover {
  color: #ffae00;
  transition: all 0.2s ease-in-out;
}

.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 4;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring Menu From Right */
.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px #555 dotted;
  width: 100%;
  padding-bottom: 8px;
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.contacts {
  text-align: center;
  justify-content: center;
}
/* SideMenu Images */

.img-uni {
  width: 240px;
  height: 120px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.menu-img-section {
  position: relative;
}
.link-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -50%);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.link-text:hover {
  color: #ffae00;
}
.flex {
  display: flex;
}
.img1 {
  background-image: url(../res/imgs/sideyka.jpg);
}
.img2 {
  background-image: url(../res/imgs/caspers.jpg);
}
.img3 {
  background-image: url(../res/imgs/vitya2.jpg);
}

.img1:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #111;
  opacity: 0.5;
  border-radius: 10px;
}
/* Not Working Correctly */
/* .img1:hover:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #111;
  opacity: 0.5;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
} */
/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Querries */

/* Video BG */
@media (min-width: 1280px) {
}
@media (max-width: 960px) {
  /* Hide Desktop Menu */
  .desktop-main-menu {
    display: none;
  }
  .logo {
    margin: auto;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }
} ;
